<footer class="footer">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a href="" target="_blank" class="nav-link">
                    Download
                </a>
            </li>
            <li class="nav-item">
                <a href="" target="_blank" class="nav-link">
                    PRO Version
                </a>
            </li>
            <li class="nav-item">
                <a href="" target="_blank" class="nav-link">
                    Support
                </a>
            </li>
        </ul>
        <div class="copyright">
            &copy; 
            <a href="" target="_blank">Cyber Evenglists</a>
        </div>
    </div>
</footer>